<div class="container-fluid mt-4">
  <div class="row">
     <div class="col-md-6 offset-md-3 ">
       <h2 class='text-center'> <%= action_name.upcase  + ' Group'.upcase%> <h2>
       <%= simple_form_for [@project, @group] do |f| %>
         <%= f.error_notification %>
         <%= f.input :name, input_html: { class: "form-control mb-4"} , placeholder: 'Title', wrapper: false, label_html: { class: "sr-only" }%>
         <%= f.input :description, input_html: { class: "form-control mb-4 text-area"}, placeholder: 'Description', wrapper: false, label_html: { class: "sr-only" } %>
         <%= f.button :submit, class: "btn-lg btn-success btn-block mt-4" %>
       <% end %>
     </div>
  </div>
</div>
