<div class="row">
  <div class="col-md-10">
    <%= link_to "&laquo; Back".html_safe, project_path(@group.project)%>
    <h3><%=@group.name%></h3>
    <hr>
    <p><%= @group.description%></p>
    <hr>
    <h5>We can add your tags through file</h5>
    <%= form_tag  import_group_tags_path(@group),  multipart: true, class: 'form-inline'  do%>
     <div class="form-group mx-sm-3 mb-2">
        <%= file_field_tag :file ,class: 'form-control-file', id: 'exampleFormControlFile1'%>
     </div>
      <%= submit_tag 'import CSV', class: 'btn btn-primary mb-2'%>
    <%end%>
    <br>
    <p>api<%= request.fullpath%>?api_token={your api token}&search_tag={your search word }</p>
    <h4>Groups</h4>
    <%@group.tags.each do |tag|%>
    <span class="badge badge-success badge-pill tags " id='<%=tag.id%>d'><%=tag.name%> <a id='<%=tag.id%>' href="javascript:void(0);" class="link">&times;</a></span>
    <%end%>
  </div>
  <div class="col-md-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%=link_to 'Edit Group' , edit_group_path(@group) %>
      </li>
      <li class="list-group-item">
        <%=link_to 'Remove group', group_path(@group), method: :delete, data: { confirm: 'Are you sure?'} %>
      </li>
      <li class="list-group-item">
        <%= link_to 'Export to CSV', export_group_tags_path(@group, format: "csv")%>
      </li>
    </ul>
  </div>
</div>
